{# Render change password form - @Todo add password strength feature #}
{% set formAction = path('user_change_password') %}
{{ form_start(form, {
    action: formAction
}) }}
<div class="row password-form-row">
    <div class="form-inputs col-md-8">
        <div class="row">
            <div class="col-md-3 label">
                {{ form_label(form.current_password) }}
            </div>
            <div class="form-group col-md-8 password-visibility">
                {{ form_widget(form.current_password, {
                    'attr': {
                        'disabled': true,
                    }
                }) }}
                <span class="toggle-password-visibility">
                    {{ source('@public_path'~asset('static/img/password-show.svg')) }}
                    {{ source('@public_path'~asset('static/img/password-hide.svg')) }}
                </span>
                <span class="error-message"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 label">
                {{ form_label(form.password.first) }}
            </div>
            <div class="form-group col-md-8 password-visibility">
                {{ form_widget(form.password.first, {
                    'attr': {
                        'disabled': true,
                        'class': 'new-password-input',
                    }
                }) }}
                <span class="toggle-password-visibility">
                    {{ source('@public_path'~asset('static/img/password-show.svg')) }}
                    {{ source('@public_path'~asset('static/img/password-hide.svg')) }}
                </span>
                <span class="error-message"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 label">
                {{ form_label(form.password.second) }}
            </div>
            <div class="form-group col-md-8 password-visibility">
                {{ form_widget(form.password.second, {
                    'attr': {
                        'disabled': true,
                    }
                }) }}
                <span class="toggle-password-visibility">
                    {{ source('@public_path'~asset('static/img/password-show.svg')) }}
                    {{ source('@public_path'~asset('static/img/password-hide.svg')) }}
                </span>
                <span class="error-message"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 label">
                <label>{{ 'passport.user-profile.password-strenth-label'|trans }}</label>
            </div>
            <div class="col-md-8">
                <div class="password-strength-container">
                    <span class="result"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="password-prerequisites-container col-md-4">
        <div class="password-prerequisites">
            <p class="title">
                <img src="/../static/img/icon-info.svg"/ alt="info-icon">
                <span>{{ 'user.registration.password_guide'|trans }}</span>
            </p>
            <ul class="prerequisites-list">
                <li data-type="symbols">{{ 'password_change.warning.symbols'|trans|raw }}</li>
                <li data-type="number">{{ 'password_change.warning.number'|trans|raw }}</li>
                <li data-type="uppercase">{{ 'password_change.warning.big_letter'|trans|raw }}</li>
                <li data-type="lowercase">{{ 'password_change.warning.small_letter'|trans|raw }}</li>
                <li data-type="special_char">{{ 'password_change.warning.special_character'|trans|raw }}</li>
            </ul>
        </div>
    </div>
</div>
{{ form_end(form) }}