{# Render profile form - @Todo => add phone & fax country selects  #}
{% set formAction = path('save_user') %}
{{ form_start(form, {
    action: formAction
}) }}
    <div class="row">
        <div class="form-inputs col-md-8">
            <div class="row">
                <div class="col-md-3 label">
                    {{ form_label(form.salutation) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_widget(form.salutation, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">
                    {{ form_label(form.title) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_widget(form.title, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">
                    {{ form_label(form.firstname) }}
                </div>
                <div class="form-group col-md-8">
                    {{ form_widget(form.firstname, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">
                    {{ form_label(form.lastname) }}
                </div>
                <div class="form-group col-md-8">
                    {{ form_widget(form.lastname, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">
                    {{ form_label(form.email) }}
                </div>
                <div class="form-group col-md-8">
                    {{ form_widget(form.email, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">
                    {{ form_label(form.phone) }}
                </div>
                <div class="form-group col-md-3 select-field">
                    {{ form_widget(form.phone_country, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
                <div class="form-group col-md-5 input-field">
                    {{ form_widget(form.phone, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 label">
                    {{ form_label(form.mobile) }}
                </div>
                <div class="form-group col-md-3 select-field">
                    {{ form_widget(form.mobile_country, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
                <div class="form-group col-md-5 input-field">
                    {{ form_widget(form.mobile, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="row phone-fields">
                <div class="col-md-3 label">
                    {{ form_label(form.fax) }}
                </div>
                <div class="form-group col-md-3 select-field">
                    {{ form_widget(form.fax_country, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
                <div class="form-group col-md-5 input-field">
                    {{ form_widget(form.fax, {
                        'attr': {
                            'disabled': true,
                        }
                    }) }}
                    <span class="error-message"></span>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}