header
    background: $white
    box-shadow: 0 2px 2px rgba(0,0,0,.3)
    height: 52px
    position: fixed
    width: 100%
    z-index: 1001

    .container
        margin-left: 0
        max-width: 1380px
        padding: 0 75px
        width: 100%

        position: relative

        .icon
            top: 13px
            left: 35px

            width: auto
            height: 26px

            position: absolute

        h1
            font-family: semi-bold
            font-size: 18px
            display: inline-block
            float: left
            line-height: 52px
            margin: 0