.n1-dashboard-left-container
    left: 0
    position: fixed
    top: 65px
    z-index: 99998

    .current-app-menu
        background: $white
        border-right: 1px solid #848d95
        height: calc(100vh - 65px)
        left: 0
        position: absolute
        top: 0
        transition: 0.2s
        width: 200px
        z-index: 0

        > ul
            > li
                position: relative

                &:first-child
                    border-bottom: 1px solid $brand-primary
                &:not(:first-child)
                    &:after
                        border-bottom: 1px solid $gray
                        bottom: 0
                        content: ''
                        height: 1px
                        left: 15px
                        position: absolute
                        transition: 0.3s
                        width: calc(100% - 30px)

                &:last-child
                    &:after
                        //border: none

                a
                    padding-top: 15px
                    padding-bottom: 15px

                    padding-left: 10px
                    padding-right: 5px

        ul
            list-style: none
            padding: 0

            li
                margin: 0

                padding-left: 15px
                padding-right: 15px

                &:first-child
                    &.active
                        background: $blue-lighter

                a
                    display: block
                    font-family: semi-bold
                    font-size: 12px
                    //line-height: 52px
                    position: relative
                    transition: 0.3s

                    letter-spacing: 0

                    .icon
                        height: auto
                        width: 13px

                        margin-right: 5px

                    &.active, &:hover
                        background: $blue-lighter

                    &.home
                        &:after
                            background: url('/../static/img/n1/icon-home.png') no-repeat
                            content: ''
                            height: 13px
                            position: absolute
                            right: 15px
                            top: 20px
                            width: 13px

                    &.has-dropdown
                        cursor: pointer
                        padding-left: 40px
                        position: relative

                        &:before
                            border-style: solid
                            border-width: 4px 0px 4px 4px
                            border-color: transparent transparent transparent $brand-primary
                            content: ''
                            left: 30px
                            position: absolute
                            top: 22px
                            transition: 0.3s

                    &.more
                        cursor: pointer
                        padding-left: 35px
                        position: relative

                        &:before, &:after
                            background: $brand-primary
                            content: ''
                            height: 1px
                            left: 20px
                            position: absolute
                            top: 25px
                            transition: all .2s ease-out
                            width: 11px

                        &:after
                            transform: rotate(90deg)

                .sub-nav
                    height: 0
                    opacity: 0
                    transition: 0.3s

                    > li
                        padding-left: 40px

                        > a
                            background: $gray2
                            border-bottom: 1px solid $gray2
                            border-left: 4px solid $gray
                            font-family: regular
                            font-size: 11px
                            padding: 5px 10px
                            position: relative
                            transition: 0.3s

                            &:hover, &.active
                                background: $white
                                border-left: 4px solid $yellow-green

                &.open
                    padding-bottom: 20px

                    > a
                        &.has-dropdown
                            &:before
                                transform: rotate(90deg)

                        &.more
                            &:after
                                opacity: 0

                    .sub-nav
                        height: auto
                        opacity: 1

    .all-apps-menu
        background: $gray
        border-right: 2px solid #636f7b
        height: calc(100vh - 65px)
        left: -200px
        position: absolute
        top: 0
        transition: 0.2s
        width: 200px
        z-index: 0

        .toggle-apps-filter
            background: #253647
            color: $white
            cursor: pointer
            font-family: medium
            font-size: 14px
            padding: 15px

            &:after
                background: url('/../static/img/n1/arrow-up-blue.png') no-repeat
                background-color: $white
                background-position: 50% 7px
                background-size: 15px 9px
                border-radius: 15px
                content: ''
                height: 25px
                position: absolute
                right: 15px
                top: 13px
                transform: rotate(180deg)
                transition: 0.3s
                width: 25px

        .apps-filter
            background: $white
            border: 1px solid $brand-primary
            left: 100px
            opacity: 0
            pointer-events: none
            position: fixed
            transition: 0.3s
            width: 200px
            z-index: 1

            &.open
                opacity: 1
                pointer-events: all

            ul
                list-style: none
                margin: 0
                padding: 10px 0

                li
                    margin-bottom: 0

                    a
                        border-left: 2px solid transparent
                        display: block
                        font-family: medium
                        font-size: 11px
                        padding: 3px 15px
                        transition: 0.3s

                        &:hover
                            background: #F2F2F2
                            border-left: 2px solid #708ba6

                        &.active
                            background: #E4E4E4
                            border-left: 2px solid $brand-primary

                        i
                            &.star
                                font-size: 16px
                                position: relative
                                top: -2px
                                padding-left: 5px

        .apps-list
            list-style: none
            padding: 0

            li
                margin-bottom: 0

                a
                    color: $white
                    display: block
                    font-family: semi-bold
                    font-size: 14px
                    padding: 10px 15px
                    position: relative
                    transition: 0.3s

                    &:after
                        border-bottom: 1px solid $brand-primary
                        bottom: 0
                        content: ''
                        height: 1px
                        left: 15px
                        opacity: 0.5
                        position: absolute
                        transition: 0.3s
                        width: calc(100% - 30px)

                    &:hover, &:focus, &.active
                        background: $hover-blue
                        color: $brand-primary

                        &:after
                            left: 0
                            width: 100%

                    img
                        margin-right: 10px

        .toggle-all-apps-menu
            background: #253647
            border-top-right-radius: 25px
            border-bottom-right-radius: 25px
            cursor: pointer
            height: 50px
            position: absolute
            right: -25px
            top: 50%
            width: 25px
            z-index: 999999

            &:after
                background: url(/../static/img/n1/arrow-up.png) no-repeat
                content: ''
                height: 11px
                left: 2px
                position: absolute
                top: 20px
                transform: rotate(90deg)
                transition: 0.3s
                width: 19px

        &.visible
            .toggle-all-apps-menu
                &:after
                    transform: rotate(270deg)
