.n1-dashboard-top-container
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 999999

    .top-navigation
        background: $white
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3)
        min-height: 65px
        position: relative
        width: 100%
        z-index: 2

        .bar
            &-left
                float: left
                overflow: auto
                position: relative
                width: 200px

                &:after
                    background-color: $brand-primary
                    content: ''
                    height: 45px
                    position: absolute
                    right: 0
                    top: 10px
                    width: 1px

                .toggle-all-apps-menu
                    cursor: pointer
                    float: left
                    height: 65px
                    line-height: 65px
                    position: relative
                    text-align: center
                    width: 60px

                    i
                        background: $brand-primary
                        cursor: pointer
                        display: inline-block
                        height: 2px
                        position: relative
                        top: -6px
                        transition: all .2s ease-out
                        width: 25px

                        &:before, &:after
                            background: $brand-primary
                            content: ''
                            height: 2px
                            left: 0;
                            position: absolute
                            transition: all .2s ease-out
                            width: 25px

                        &:before
                            top: 7px

                        &:after
                            bottom: 7px

                .my-n1
                    background: url('/../static/img/n1/N1_logo.png') no-repeat
                    background-size: cover
                    float: left
                    height: 65px
                    width: 64px

                .apps-label
                    float: left
                    font-family: semi-bold
                    font-size: 20px
                    line-height: 65px
                    margin: 0
                    padding-left: 10px
                    width: 70px

            &-center
                display: flex
                flex-direction: row
                float: left
                max-height: 65px
                overflow: auto
                padding: 10px 15px 10px 20px
                position: relative

                .app-logo
                    margin-right: 10px

                    img
                        max-height: 100%
                        max-width: 100%

                .app-info
                    .selected-company
                        font-family: medium
                        font-size: 11px
                        margin-bottom: 0

                    .selected-app
                        font-family: semi-bold
                        font-size: 14px
                        margin-bottom: 0

            &-right
                display: flex
                float: right
                min-height: 65px
                min-width: 300px
                overflow: auto
                padding: 10px 15px
                position: relative

                .question
                    background: url('/../static/img/n1/icon-question.png') no-repeat
                    height: 27px
                    margin: 9px 7px
                    width: 26px

                .bell-alert
                    background: url('/../static/img/n1/icon-bell-alert.png') no-repeat
                    height: 36px
                    margin: 3px 7px
                    width: 39px

                .profile-info
                    cursor: pointer
                    margin: 6px 7px 6px 30px
                    text-align: right

                    p
                        font-family: medium
                        font-size: 11px
                        line-height: 16px
                        margin: 0

                .profile
                    background: url('/../static/img/n1/icon-profile-passport.png') no-repeat
                    height: 27px
                    margin: 9px 7px
                    width: 26px

                .profile-menu
                    background: $white
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3)
                    list-style: none
                    min-width: 250px
                    opacity: 0
                    padding: 0
                    pointer-events: none
                    position: fixed
                    right: 55px
                    top: 56px
                    transition: 0.3s

                    &.open
                        pointer-events: all
                        opacity: 1
                        top: 66px

                    li
                        a
                            display: block
                            font-size: 12px
                            padding: 7px 15px
                            transition: 0.3s

                            &:hover
                                background: #f0f0f0

                .logout
                    background: url('/../static/img/n1/icon-logout.png') no-repeat
                    height: 27px
                    margin: 9px 7px
                    width: 26px
