{% include '@PassportBundle/Resources/views/Email/Includes/mail-header.html.twig' %}

<table class="mail-company-invited wysiwyg" cellspacing="0" cellpadding="0" border="0" style="width: 100%; font-family: sans-serif; font-size: 16px; line-height: 24px; padding:0 10% 50px;">
    <tr>
        <td align="center" style="padding-top: 24px; font-size: 24px; line-height: 36px; font-weight: bold;">
            <h2>
                {{
                pimcore_wysiwyg('title', {
                    'width': 440
                })
                }}
            </h2>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>
                {{
                pimcore_wysiwyg('body', {
                    'width': 440
                })
                }}
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 14px; line-height: 17px; font-weight: bold; padding-top:32px; padding-bottom:32px;">
            {{
            pimcore_wysiwyg('link', {
                'width': 440
            })
            }}
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 14px; line-height: 17px; font-weight: bold; padding-top:32px; padding-bottom:32px;">
            {{
            pimcore_wysiwyg('footnote', {
                'width': 440
            })
            }}
        </td>
    </tr>
</table>
