<div class="n1-dashboard-left-container">
    <div class="current-app-menu">
        {% set navigation = navifnavigationData is defined ? navigationData['sub_pages'] : [] %}
        <ul>
            {% for navigationItem in navigation %}
                {% if navigationItem.navigation_exclude != true %}
                    <li
                        class="{{ navigationItem.active_path and not navigationItem.active ? 'open' : '' }} {{ navigationItem.active ? 'active' : '' }}"
                    >
                        {% if navigationItem.is_root %}
                            <a
                                class="{{ navigationItem.is_root ? 'home' : '' }}"
                                href="{{ navigationItem.path }}"
                            >
                                {{ navigationItem.title }}
                            </a>
                        {% else %}
                            <a class="{{ navigationItem.sub_pages|length > 0 ? 'has-dropdown' : '' }} {{ navigationItem.active ? 'active' : '' }}" href="{{ navigationItem.path }}">
                                {% if navigationItem.navigation_icon %}
                                    <img class="icon" src="{{ navigationItem.navigation_icon }}" />
                                {% endif %}
                                {{ navigationItem.title }}
                            </a>
                            {% if navigationItem.sub_pages|length > 0 %}
                                <ul class="sub-nav">
                                    {% for navSubItem in navigationItem.sub_pages %}
                                        <li>
                                            <a class="{{ navSubItem.active ? 'active' : '' }}" href="{{ navSubItem.path }}">{{ navSubItem.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>