{% set authed = false %}
{% if userData is defined and userData is not empty %}
    {% set authed = true %}
    {% set userName = userData.firstname ~ ' ' ~ userData.lastname %}
    {% set userEmail = userData.mail %}
{% endif %}

<div class="n1-dashboard-top-container">
    <div class="top-navigation">
        <div class="bar-left">
            <a href="/" class="my-n1"></a>
            <p class="apps-label">{{ 'header.passport.page-title'|trans }}</p>
        </div>
        <div class="bar-center">
            <a class="app-logo" href="/">
                <img src="/../static/img/n1/Passport_45x45.png"/>
            </a>
            <div class="app-info">
                <p class="selected-company">{{ authed ? userName : '&nbsp;' }}</p>
                <p class="selected-app">{{ 'header.passport.application-title'|trans }}</p>
            </div>
        </div>

        {% if authed %}
            <div class="bar-right">
                <div class="profile-info">
                    <p class="name">{{ userName }}</p>
                    <p class="mail">{{ userEmail }}</p>
                </div>
                <a href="#" class="profile">

                </a>
                {% set logoutPath = path('logout') %}
                <a href="{{ logoutPath }}" class="logout"></a>
            </div>
        {% endif %}
    </div>
</div>