{% spaceless -%}
    {% do pimcore_head_script().prependFile(asset('static/js/material-dashboard/jquery-3.2.1.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/axios/axios.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/tippy/popper.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/tippy/tippy.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/moment/moment.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/flatpickr/flatpickr.js')) %}

    {% do pimcore_head_script().enableWebLinks() %}
    {% do pimcore_head_script().appendFile('/site/website_translations.js') %}


    {% set locale_prefix = app.request.locale|split('_').0 %}
    {% if locale_prefix != 'en' %}
        {# URL https://unpkg.com/flatpickr@4.6.1/dist/
        Since en is default & not present in folder on npm's cdn #}
        {% do pimcore_head_script().appendFile('https://npmcdn.com/flatpickr/dist/l10n/' ~ locale_prefix ~ '.js') %}
    {% endif %}
    {% do pimcore_head_script().appendFile(asset('static/lib/validatorjs/validator.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/sweetalert/sweetalert.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/autoNumeric/autoNumeric.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/select2/select2.full.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/masonry/masonry.pkgd.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/twbsPagination/twbsPagination.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/equalize/equalize.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/material-dashboard/perfect-scrollbar.jquery.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/material-dashboard/jquery.tagsinput.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/bootstrap/js/bootstrap.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/magnific/magnific.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/lib/video-js/video.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/srcset-polyfill.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/material-dashboard/material-dashboard.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/material-dashboard/material.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/packery.pkgd.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/contact-form.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/custom.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('static/js/tips-custom.min.js')) %}
{%- endspaceless %}
{{ pimcore_head_script() }}