<!-- Le styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://unpkg.com/tippy.js@4.3.1/index.css">

<!-- Some global translation strings & objects... -->
{% set locale_prefix = app.request.locale|split('_').0 %}

<script type="text/javascript">
    window.shortLocale = '{{ locale_prefix }}';
    window.n1Routes = window.n1Routes || {};

    window.errorPopup = window.errorPopup || {};
    window.errorPopup.message = '{{ 'error_popup.generic_message'|trans() }}';
    window.errorPopup.buttonText = '{{ 'error_popup.button_text'|trans() }}';

    window.sessionWarningPopup = window.sessionWarningPopup || {};
    window.sessionWarningPopup.message = '{{ 'session_warning_popup.generic_message'|trans() }}';
    window.sessionWarningPopup.buttonText = '{{ 'session_warning_popup.button_text'|trans() }}';
</script>

{% spaceless -%}
    {# add global stylesheets and scripts outside of any blocsk to add them to the helpers before any others assets are added #}
    {# we use the view helper to have cache buster functionality #}
    {% do pimcore_head_link().appendStylesheet(asset('static/bootstrap/css/bootstrap.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/css/global.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/lib/video-js/video-js.min.css'), 'screen') %}
    {% do pimcore_head_link().appendStylesheet(asset('static/lib/magnific/magnific.css'), 'screen') %}
    {% do pimcore_head_link().appendStylesheet(asset('static/css/material-dashboard.css'), 'screen') %}
    {% do pimcore_head_link().appendStylesheet(asset('static/css/poppins.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/lib/select2/select2.min.css'), 'screen') %}
    {% do pimcore_head_link().appendStylesheet(asset('static/lib/flatpickr/flatpickr.min.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/lib/flatpickr/plugins/monthSelect/style.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/css/tip-custom.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/css/custom.css')) %}
    {% do pimcore_head_link().appendStylesheet({'rel':'icon', 'href': asset('/static/img/logo/n1_logo.svg')}) %}
    {% if editmode is defined and editmode %}
        {% do pimcore_head_link().appendStylesheet(asset('static/css/editmode.css'), 'screen') %}
    {% endif %}
{%- endspaceless %}
