{% spaceless %}
{% if not document is defined or not document %}
    {% set document = pimcore_document(1) %}
{% endif %}

{% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
    {# @var document \Pimcore\Model\Document\Link #}
    {% set document = document.getObject() %}
{% endif %}

{% if document.getTitle() is not empty %}
    {% do pimcore_head_title().set(document.getTitle()) %}
{% endif %}

{% if document.getDescription() is not empty %}
    {% do pimcore_head_meta().setDescription(document.getDescription()) %}
{% endif %}

{% do pimcore_head_title().setSeparator(' : ') %}
{% block layout_head_meta deferred %}
    {{ pimcore_head_title() }}
    {{ pimcore_head_meta() }}

    {% if pimcore_placeholder('canonical').count() %}
        <link rel="canonical" href="{{ pimcore_placeholder('canonical') }}"/>
    {% endif %}

{% endblock %}

<!-- Pollyfills cdn -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
{{ include('PassportBundle:Includes:page-head-style.html.twig') }}
{% endspaceless %}
{{ pimcore_head_link() }}