@import 'parts/variables'

.content-container
    &--passport
        transition: 0.2s
        overflow: hidden

        padding-left: 200px
        padding-top: 65px

        .page-content
            margin-top: 0
            padding-top: 60px

            &.add-users-popup-visible
                position: relative
                z-index: 100

        &.all-apps-dashboard-visible
            padding-left: 400px

        @import 'parts/top-header'
        @import 'parts/sidebar'
        @import 'parts/header'

        @import 'pages/login'
        @import 'pages/login-site-depot'

        @import 'pages/dashboard'
        @import 'pages/user-profile'
        @import 'pages/applications'

        &.no-sidebar
            padding-left: 0

body
    &.all-apps-dashboard-visible
        .all-apps-menu
            left: 0

        .current-app-menu
            left: 200px

        .n1-dashboard-top-container
            .top-navigation
                .bar-left
                    .toggle-all-apps-menu
                        i
                            background: transparent

                            &:before
                                top: 0
                                transform: rotateZ(45deg)

                            &:after
                                bottom: 0
                                transform: rotateZ(-45deg)