{% extends 'PassportBundle::passport-layout.html.twig' %}

{# Set class to content-container #}
{% block contentContainerClass %}content-container--passport no-sidebar{% endblock %}

{# Include only top header  #}
{% block dashboard %}
    {% include 'PassportBundle:Includes:_top_header.html.twig' %}
{% endblock %}

{# Hide sub-header #}
{% block header %}{% endblock %}

{# Site content #}
{% block content %}
    <div class="container" id="passport-login-page">
        <div class="login-page-container">
            <div class="content-box">
                {{ form_start(form) }}
                    <!-- Login form -->
                    <h4 class="form-title">
                        {{ source('@public_path'~asset('static/img/icon-user.svg')) }}
                        <span>{{ 'passport.login-form.title'|trans }}</span>
                    </h4>

                    {% if error %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                {{ error }}
                            </span>
                        </div>
                    {% endif %}

                    {% if error is empty and alreadyRegistered is defined and alreadyRegistered == 1 %}
                        <div class="alert alert-info">
                            {{ 'login.already-registered-message'|trans }}
                        </div>
                    {% endif %}

                    <div class="inputs-container">
                        <div class="form-group floating-label">
                            {{ form_widget(form._username, {'attr': {'type': 'email'}}) }}
                            {{ form_label(form._username) }}
                        </div>
                        <div class="form-group floating-label password-visibility">
                            {{ form_widget(form._password) }}
                            {{ form_label(form._password) }}
                            <span class="toggle-password-visibility">
                                {{ source('@public_path'~asset('static/img/password-show.svg')) }}
                                {{ source('@public_path'~asset('static/img/password-hide.svg')) }}
                            </span>
                        </div>
                    </div>

                    {{ form_widget(form._target_path) }}
                    {{ form_widget(form._token) }}

                    <div class="button-container">
                        <button
                            type="submit"
                            id="_submit"
                            name="_submit"
                            class="button button--loader"
                        >
                            <span class="text">
                                {{ 'login.button.text'|trans }}
                            </span>
                            <span class="loader">
                                {{ source('@public_path'~asset('static/img/n1/icon-loading.svg')) }}
                            </span>
                        </button>
                    </div>

                    <div class="link-container">
                        <a href="/password-forgot" class="link">
                            {{ 'passport.login-form.password-forgot'|trans }}
                        </a>
                    </div>

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{# Add recaptcha script - before other js scripts #}
{% block before_scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
{% endblock %}