{% extends 'PassportBundle::passport-layout.html.twig' %}

{% block content %}
    <div class="login-password-forgot {{ success ? 'success' : '' }}">
        <div class="container">
             <h3>{{ 'login.password-forgot.title'|trans }}</h3>
            {% if success %}
                <p>
                    {{ 'login.reset-password-success-request'|trans }}
                </p>
            {% else %}
                {% if error %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        {{ error }}
                    </div>
                {% endif %}

                <p>{{ 'login.password-forgot.message'|trans }}</p>

                {{ form_start(form) }}
                    {% include '@PassportBundle/Resources/views/Auth/Includes/material_simple.html.twig' with { form: form, widget: form._email } %}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}