

{% extends 'PassportBundle::passport-layout.html.twig' %}

{# Set class to content-container #}
{% block contentContainerClass %}content-container--passport no-sidebar{% endblock %}

{# Include only top header  #}
{% block dashboard %}
    {% include 'PassportBundle:Includes:_top_header.html.twig' %}
{% endblock %}

{# Hide sub-header #}
{% block header %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
{% endblock %}

{# Site content #}
{% block content %}
    <div class="login-page login-register" id="login-page">
        <div class="login-page-container">
            <div class="content-box">

                <div class="login-form">
                    <h4 class="form-title">
                        {{ source('@public_path'~asset('static/img/icon-user.svg')) }}
                        <span>{{ 'passport.register-form.title'|trans }}</span>
                    </h4>

                    {% if userRegistered is not null and userRegistered == "1" %}
                        <div class="user-registered-messages alert alert-success">
                            {{ 'user.registered.frontend.message'|trans }}
                        </div>
                        <div class="button-container">
                            <a href="{{ domain }}" class="button">{{ 'user.registration.to.homepage.link'|trans }}</a>
                        </div>
                    {% elseif userRegistrationConfirmed is not null and userRegistrationConfirmed == "1" %}
                        <div class="user-email-confirmed alert alert-success">
                            {{ 'user.registration.email.confirmed.frontend.message'|trans }}
                        </div>
                    {% elseif userRegistrationConfirmed is not null and userRegistrationConfirmed == "0" %}
                        <div class="user-email-not-confirmed alert alert-danger">
                            {{ 'user.registration.email.not.confirmed.frontend.message'|trans }}
                            <h4>{{ errorMessage }}</h4>
                        </div>
                    {% else %}
                        {{ form_start(form) }}

                            {# Form errors #}
                            {% if errors is defined and errors is not empty %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    {% if errors|length == 1 %}
                                        <span>{{ errors|first }}</span>
                                    {% else %}
                                        <ul>
                                        {% for error in errors %}
                                            <li><span>{{ error }}</span></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="login-page__account">
                                <div class="inputs-container">
                                    <div class="form-group salutation-container">
                                        {{ form_widget(form.salutation, {
                                            'attr': {
                                                'class': 'form-control',
                                                'data-placeholder': 'user_form.label.salutation'|trans
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group floating-label">
                                        {{ form_widget(form.register_firstname, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_label(form.register_firstname) }}
                                    </div>
                                    <div class="form-group floating-label">
                                        {{ form_widget(form.register_lastname, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_label(form.register_lastname) }}
                                    </div>

                                    <div class="phone-container">
                                        <div class="form-group prefix">
                                            {{ form_widget(form.phone_country, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group floating-label">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_label(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="mobile-container">
                                        <div class="form-group prefix">
                                            {{ form_widget(form.mobile_country, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group floating-label">
                                            {{ form_widget(form.mobile, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_label(form.mobile) }}
                                        </div>
                                    </div>
                                    <div class="fax-container">
                                        <div class="form-group prefix">
                                            {{ form_widget(form.fax_country, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group floating-label">
                                            {{ form_widget(form.fax, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_label(form.fax) }}
                                        </div>
                                    </div>
                                    <div class="form-group floating-label">
                                        {{ form_widget(form.register_email, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_label(form.register_email) }}
                                    </div>
                                    <div class="passwords-container">
                                        <div class="form-group floating-label password-visibility">
                                            {{ form_widget(form.register_password, {'attr': {'class': 'form-control password-input'}}) }}
                                            {{ form_label(form.register_password) }}
                                            <span class="toggle-password-visibility">
                                                {{ source('@public_path'~asset('static/img/password-show.svg')) }}
                                                {{ source('@public_path'~asset('static/img/password-hide.svg')) }}
                                            </span>
                                        </div>
                                        <div class="form-group floating-label password-visibility">
                                            {{ form_widget(form.register_password_repeat, {'attr': {'class': 'form-control password-input'}}) }}
                                            {{ form_label(form.register_password_repeat) }}
                                            <span class="toggle-password-visibility">
                                                {{ source('@public_path'~asset('static/img/password-show.svg')) }}
                                                {{ source('@public_path'~asset('static/img/password-hide.svg')) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-password">
                                    <div class="password-tips">
                                        <img src="/../static/img/icon-info.svg"/>
                                        <p class="title">{{ 'user.registration.password_guide'|trans }}</p>
                                        <ul>
                                            <li class="password-warning" data-type="symbols">{{ 'password_change.warning.symbols'|trans|raw }}</li>
                                            <li class="password-warning" data-type="number">{{ 'password_change.warning.number'|trans|raw }}</li>
                                            <li class="password-warning" data-type="uppercase">{{ 'password_change.warning.big_letter'|trans|raw }}</li>
                                            <li class="password-warning" data-type="lowercase">{{ 'password_change.warning.small_letter'|trans|raw }}</li>
                                            <li class="password-warning" data-type="special_char">{{ 'password_change.warning.special_character'|trans|raw }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="inputs-container">
                                    <div class="form-group floating-label">
                                        {{ form_widget(form.application_token, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_label(form.application_token) }}
                                    </div>
                                </div>
                                <div class="inputs-container terms-of-use">
                                    {#
                                    <div class="form-group form-checkbox">
                                        <label class="input-checkbox">
                                            {{ form_widget(form.terms_of_use_n1, {'attr': {'class': 'form-control'}}) }}
                                            <span class="check"></span>
                                            <span class="text">{{ 'register.terms_of_use_n1'|trans|raw }}</span>
                                        </label>
                                    </div>
                                    #}
                                    <div class="form-group form-checkbox">
                                        <label class="input-checkbox">
                                            {{ form_widget(form.privacy_policy_n1, {'attr': {'class': 'form-control'}}) }}
                                            <span class="check"></span>
                                            <span class="text">{{ 'register.privacy_policy_n1'|trans|raw }}</span>
                                        </label>
                                    </div>
                                </div>
                                {{ form_widget(form.initialToken) }}
                                <div class="password-forgot">
                                    <button
                                        type="submit"
                                        id="register_submit"
                                        name="register_submit"
                                        class="button button-submit button--loader"
                                    >
                                        <span class="text">
                                            {{ 'register.button.text'|trans }}
                                        </span>
                                        <span class="loader">
                                            {{ source('@public_path'~asset('static/img/n1/icon-loading.svg')) }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                        <div class="button-container">
                            {% if showRequestInvite %}
                                <div>
                                    <p class="oder" id="oder">{{ 'general.or'|trans }}</p>
                                </div>
                                <div>
                                    <p class="small-text">{{ 'login.no_account.label'|trans }}</p>

    {#
                                    <a
                                        class="login-page__noinvitation"
                                        data-url="<?= $this->path('request-invite', ['locale' => $lang]) ?>"
                                    >
    #}
                                        {{ 'login.no_account'|trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="login-page__popup login-page__popup--password-forgot hidden">
                        <img src="/static/img/assets/loading-icon.svg" alt="mail-sent">
                    </div>

                    <div class="login-page__popup--register-success hidden" id="register-success-popup-content">
                        <h3>{{ 'login.register-success-title'|trans }}</h3>
                        <p>
                            {{ 'login.register-success-message'|trans }}
                        </p>
                        <div class="success-icon">
                            <img src="/static/img/assets/success-icon.svg" alt="mail-sent">
                        </div>
                        <a class="btn btn-primary button" id="redirect-btn" href="#">
                            {{ 'login.register-success-button'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="password-tips hidden">
        <p class="password-warning">* <?= $this->translate('password_change.warning.symbols') ?></p>
        <p class="password-warning">* <?= $this->translate('password_change.warning.number') ?></p>
        <p class="password-warning">* <?= $this->translate('password_change.warning.big_letter') ?></p>
        <p class="password-warning">* <?= $this->translate('password_change.warning.small_letter') ?></p>
        <p class="password-warning">* <?= $this->translate('password_change.warning.special_character') ?></p>
    </div> -->

    {#
    <?php if (\Pimcore\Model\Site::isSiteRequest()) : ?>
        <?= $this->inc(\Pimcore\Model\Site::getCurrentSite()->getRootPath() . '/includes/footer', ['request' => $this->getRequest()]) ?>
    <?php else : ?>
        <?php
        echo $view['actions']->render(
            new \Symfony\Component\HttpKernel\Controller\ControllerReference(
                'AppBundle:Content:footer', [
                    'request' => $this->getRequest()
                ]
            )
        );
        ?>
    <?php endif; ?>
    #}
    <script>
    {#
        window.registerPopupOpen = "<?= $registerPopup = $this->getParam('register') ? 'true' : 'false'; ?>";
        window.passwordForgotPopupOpen = "<?= $passwordForgotPopup = $this->getParam('password_forgot') ? 'true' : 'false'; ?>";
        window.registerInitialToken = "<?= $registerPopup = $this->getParam('_intok') ?>";
        window.initialTokenPopupMessage = "<?= $this->translate('login.popup.initial_token_message') ?>";
        window.email = "<?= $email = $this->getParam('email') ?>";
    #}
    </script>

{% endblock %}
