{% set isValid = form.vars.valid %}
{% set isEmpty = form.vars.data is empty or form.vars.data is not defined %}

{% if label is not defined or label is empty %}
    {% set label = form.vars.label %}
{% endif %}
{% if widget_args is defined and widget_args is not empty %}
    {% set args = widget_args %}
{% endif %}


<div class="form-group label-floating {{classes is defined ? classes: ''}} {{isValid ? '' : 'has-error'}} {{isEmpty ? 'is-empty' : ''}}">
    {% if label %}
        <label class="control-label">{{label|trans}}</label>
    {% endif %}
    {% if widget and args is defined %}
        {{form_widget(widget, args)}}
    {% elseif widget %}
         {{form_widget(widget)}}
    {% endif %}
</div>