{#<?php
/**
 * Pimcore
 *
 * This source file is available under two different licenses:
 * - GNU General Public License version 3 (GPLv3)
 * - Pimcore Enterprise License (PEL)
 * Full copyright and license information is available in
 * LICENSE.md which is distributed with this source code.
 *
 * @copyright  Copyright (c) Pimcore GmbH (http://www.pimcore.org)
 * @license    http://www.pimcore.org/license     GPLv3 and PEL
 */

/**
 * @var \Pimcore\Templating\PhpEngine $this
 * @var \Pimcore\Templating\PhpEngine $view
 * @var \Pimcore\Templating\GlobalVariables $app
 */
#}
{% set lang = app.request.locale|slice(0, 2)  %}

{% set bodyId %}
    {% block bodyId %}
    {% endblock %}
{% endset %}

{#request = $this->getRequest();#}

<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if app.environment == 'dev' and app.debug %}
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    {% endif %}
    {% include('PassportBundle:Includes:page-head.html.twig' ) %}
    {#<?= $view->render(':Includes:page-head.html.php', ['document' => $view->document]); ?>#}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">
</head>
<body {#{ bodyId is not empty ? 'id=\"'~ bodyId ~ '\"' : '' }#} class="{{ editmode is defined and editmode ? 'editmode ' : '' }}">

<div class="content-container {% block contentContainerClass %}{% endblock %}">
    {% block impersonationMode %}
    {% endblock %}
    {#<?php if($this->slots()->has('_impersonationMode')) {
        $this->slots()->output('_impersonationMode');
        } ?>#}
    {# @TODO twig -todo #}

    {% block dashboard %}
    {% endblock %}

    {% block header %}
    {% endblock %}

    <!-- Site content -->
    <div class="page-content">
        {% block content %}{% endblock %}


    </div>

    {% block footer %}
    {% endblock %}

    {% if editmode is defined and editmode %}
        <div style="height: 500px"></div>
    {% endif %}
</div>

<script type="application/javascript">
    var appConfig = {};
    appConfig.locale = '{{ app.request.locale }}';
</script>

{% block before_scripts %}{% endblock %}
{% include('PassportBundle:Includes:footer-scripts.html.twig') %}
{% block vue_script %} {% endblock %}

<script type="text/javascript">
    window.language = '{{ lang }}' ;
</script>

<div class="global-loader-popup hidden" id="svg-loader-popup-global">
    {{ source('@public_path'~asset('static/img/assets/loading-icon.svg')) }}
</div>

</body>
</html>