{% extends 'PassportBundle::layout.html.twig' %}

{# Set class to content-container #}
{% block contentContainerClass %}content-container--passport{% endblock %}

{# Top header & sidebar of dashboard  #}
{% block dashboard %}
    {% include 'PassportBundle:Includes:_top_header.html.twig' %}
    {% include 'PassportBundle:Includes:_sidebar.html.twig' %}
{% endblock %}

{# Overwrite header from main layout #}
{% block header %}
    <header>
        <div class="container"></div>
    </header>
{% endblock %}

{# Empty content for footer - override main layout one #}
{% block footer %}{% endblock %}

{# Main content #}
{% block content %}
{% endblock %}