{% extends 'PassportBundle::passport-layout.html.twig' %}

{% block header %}
    <header>
        <div class="container">
            <img class="icon" src="/static/img/icon-applications-big.png">
            <h1>{{ 'passport-applications-page.title'|trans }}</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container" id="applications-page">
        <div class="applications-page-container">
            <div class="applications-page-header">
                <p>
                    {{ data['applications'] is not empty ? 'applications_page.title'|trans : 'applications_page.empty.title'|trans }}
                </p>
            </div>
            <div class="applications-list">
                {% if data['applications'] is not empty %}
                    {% for application in data['applications'] %}
                        <div class="application">
                            <div>
                                <img
                                    class="logo"
                                    src="{{ application['image'] }}"
                                    alt=""
                                >
                            </div>
                            <div class="content">
                                <p class="title">
                                    {{ application['app_name'] }}
                                </p>
                                <p class="description">
                                    {{ application['description'] }}
                                </p>
                            </div>
                            <div class="link-container">
                                <a
                                    target="_blank"
                                    href="{{ application['link'] }}"
                                >
                                    {{ source('@public_path'~asset('static/img/application_link.svg')) }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}