{% extends 'PassportBundle::passport-layout.html.twig' %}

{% block header %}
    <header>
        <div class="container">
            <img class="icon" src="/static/img/icon-profile-big.png">
            <h1>{{ 'passport-profile-page.title'|trans }}</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container" id="user-profile-page">
        <div class="user-profile-page-container">
            <div class="content-box preview">
                <div class="row">
                    <div class="col-md-12">
                        <p class="title">
                            <img class="icon" src="/static/img/icon-user.svg" alt="">
                            {{ 'user-profile-page.user_form.title'|trans }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% include 'PassportBundle:Passport/Includes:_user_form.html.twig' with { form: userForm }%}
                </div>
                <div class="row preview-button-container">
                    <div class="col-md-2 placeholder"></div>
                    <button class="button button--submit button--loader start-edit-button" title="">
                        <span class="text">
                            {{ 'user-profile-page.user_form.edit'|trans }}
                        </span>
                    </button>
                    <div class="success-container">
                        <i class="material-icons success-icon">done</i>
                    </div>
                </div>
                <div class="row edit-mode-button-container">
                    <div class="col-md-2 placeholder"></div>
                    <button class="button button--submit button--loader cancel-button" title="">
                        <span class="text">
                            {{ 'user-profile-page.user_form.cancel'|trans }}
                        </span>
                    </button>
                    <button class="button button--submit button--loader save-button" id="submit-user-data-button" title="">
                        <span class="text">
                            {{ 'user-profile-page.user_form.save'|trans }}
                        </span>
                        <span class="loader">
                            {{ source('@public_path'~asset('static/img/n1/icon-loading.svg')) }}
                        </span>
                    </button>
                </div>
            </div>
            <div class="content-box password preview">
                <div class="row">
                    <div class="col-md-2 password-title">
                        <p class="title">
                            <img class="icon" src="/static/img/icon-password.svg">
                            {{ 'user-profile-page.password_form.title'|trans }}
                        </p>
                    </div>
                    <div class="col-md-5 preview-button-container">
                        <button class="button button--submit button--loader start-edit-button" title="">
                            <span class="text">
                                {{ 'user-profile-page.user_form.password_change'|trans }}
                            </span>
                        </button>
                    </div>
                    <div class="col-md-offset-2 col-md-1">
                        <i class="material-icons success-icon">done</i>
                    </div>
                </div>
                <div class="row">
                    {% include 'PassportBundle:Passport/Includes:_password_form.html.twig' with { form: passwordForm }%}
                </div>
                <div class="row edit-mode-button-container">
                    <div class="col-md-2 placeholder"></div>
                    <button class="button button--submit button--loader cancel-button" title="">
                        <span class="text">
                            {{ 'user-profile-page.user_form.cancel'|trans }}
                        </span>
                    </button>
                    <button class="button button--submit button--loader save-button" id="submit-password-change-button" title="">
                        <span class="text">
                            {{ 'user-profile-page.user_form.save'|trans }}
                        </span>
                        <span class="loader">
                            {{ source('@public_path'~asset('static/img/n1/icon-loading.svg')) }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}