{% extends 'PassportBundle::passport-layout.html.twig' %}



{# Set class to content-container #}
{% block contentContainerClass %}content-container--passport no-sidebar login-site-depot{% endblock %}

{# Include only top header  #}
{% block dashboard %}

{% endblock %}

{# Hide sub-header #}
{% block header %}{% endblock %}

{# Site content #}
{% block content %}
    <div class="container" id="passport-login-page">
        <div class="login-page-container">
            <div class="content-box">
                {{ form_start(form) }}
                
                <div class="header-container">
                    <img src="/../static/img/n1/SiteDepot_98x98.png"/>
                    <div class="icon-camera-container">
                        {{ source('@public_path'~asset('static/img/n1/icon-camera.svg')) }}
                    </div>
                </div>
                
                <div class="title-container">
                    <h1>{{ 'passport.login.site_depot.title'|trans }}</h1>
                    <h2>{{ 'passport.login.site_depot.image_upload'|trans }}</h2>
                </div>

                {% if error %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>
                                {{ error }}
                            </span>
                    </div>
                {% endif %}

                <div class="inputs-container">
                    <div class="form-group">
                        {{ form_label(form._username) }}
                        {{ form_widget(form._username) }}
                    </div>
                    <div class="form-group password-visibility">
                        {{ form_label(form._password) }}
                        {{ form_widget(form._password) }}
                        <span class="toggle-password-visibility">
                                {{ source('@public_path'~asset('static/img/password-show.svg')) }}
                            {{ source('@public_path'~asset('static/img/password-hide.svg')) }}
                            </span>
                    </div>
                </div>
                
                <div class="link-container">
                    <a href="/password-forgot" class="link">
                        {{ 'passport.login-form.password-forgot'|trans }}
                    </a>
                </div>

                <div class="button-container">
                    {{ form_widget(form._submit) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{# Add recaptcha script - before other js scripts #}
{% block before_scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
{% endblock %}