<style>
    .wysiwyg a {
        color: #4A90CA;
        text-decoration: none;
    }
    a.blue-link {
        color:  #4A90CA
    }
    .wysiwyg button a {
        background: #4A90CA;
        color: #ffffff !important;
        border-radius: 27px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .btn-table {
        color: #ffffff ;
        padding: 0 30px;
        border: 1px solid transparent;
        border-radius: 27px;
        /* text-transform: uppercase; */
        font-weight: bold;
        min-width: 220px;
        /* display: inline-block; */
        text-decoration: none;
    }
    .btn {
        color: #ffffff !important;
        padding: 20px 15px;
        border-radius: 27px;
        text-transform: uppercase;
        font-weight: bold;
        min-width: 220px;
        display: inline-block;
        text-decoration: none;
       
    }
    .btn-primary {
        background: #4A90CA;
    }

    .btn-danger {
        background: #F44336;
    }
    table {
        border-collapse: collapse;
        border: 0;
    }
    table.calloff-table th,
    table.calloff-table td {
        border: none;
    }
    table.calloff-table th {
        color: #4A90CA;
    }
   
</style>
<!--[if mso]>
    <style>    
        /* Outlook reset defaults */ 
        /* Remove space around the email design. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }
        /* Stop Outlook resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
        }
        /* Stop Outlook from adding extra spacing to tables. */
        
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }
        /* Use a better rendering method when resizing images in Outlook IE. */
        img {
            -ms-interpolation-mode:bicubic;
        }
        /* Prevent Windows 10 Mail from underlining links. Styles for underlined links should be inline. */
        a {
            text-decoration: none;
            color: #ffffff;
        }
        a.blue-link {
            color: #4A90CA;
        }
    </style>
<![endif]-->

{% set logoURI = "#{hostUrl}/static/img/logo.png" %}

<table class="mail-header" cellspacing="0" cellpadding="0" border="0" style="width: 100%; border-bottom: 3px solid #0084F4;">
    <tr>
        <td align="center" style="padding: 50px 0;">
        
            <div style="width:103px; height:103px">                  
                <img src="{{logoURI}}" alt="N1 logo" title="N1 logo" height="103" width="103" style="display: block;" />
            </div>
        </td>
    </tr>
</table>
