.applications-page-container
    margin-top: 30px

    .applications-page-header
        margin-bottom: 20px
        p
            margin: 0

            font-size: 14px
            line-height: 18px
            font-family: semi-bold

    .applications-list
        display: flex
        flex-direction: column

        .application
            display: inline-flex
            width: 900px
            max-width: 900px

            padding: 30px 55px 30px 55px
            margin-bottom: 10px

            border: 1px solid $gray
            border-radius: 4px

            .logo
                width: 100px
                height: 100px

            .content
                width: 400px
                max-width: 400px
                margin-left: 45px
                padding-top: 15px

                .title
                    font-size: 14px
                    font-family: semi-bold
                    line-height: 18px

                .description
                    color: black
                    font-size: 12px
                    font-family: medium

            .link-container
                flex: 1
                display: inline-flex
                justify-content: flex-end
                align-items: center
