&.login-site-depot
    background: url('/../static/img/n1/site_depot_background_1200x1200.jpg') no-repeat
    background-size: cover !important
    background-position: center
    height: 100vh
    width: 100%

    overflow-y: scroll // SCrol fix on really small screen heights

    .login-page-container
        .content-box
            border: none
            color: white
            max-width: 480px

            .login-form
                .header-container
                    display: flex

                    img
                        margin-left: -10px
                        position: relative

                    .icon-camera-container
                        background: rgba(255,255,255,0.8)
                        box-shadow: 0 3px 6px rgba(0,0,0,0.2)
                        border-radius: 4px
                        display: flex
                        height: 55px
                        margin-top: 7px
                        position: relative
                        width: 55px

                        .icon-camera
                            margin: auto

                .title-container
                    h1
                        font-size: 28px
                        line-height: 32px
                        margin: 10px 0 0
                        text-shadow: 0 0 2px rgba(0,0,0,0.4)

                    h2
                        font-family: medium
                        font-size: 28px
                        margin: 0 0 15px
                        text-shadow: 0 0 2px rgba(0,0,0,0.4)

                .form-group
                    &.password-visibility
                        margin-bottom: 0

                        .toggle-password-visibility
                            height: 35px
                            top: 25px
                            width: 50px

                            svg
                                width: 28px

                    label
                        color: $white
                        font-family: medium
                        font-size: 14px
                        margin-bottom: 0
                        text-shadow: 0 0 2px rgba(0,0,0,0.4)

                    .form-control
                        height: 35px
                        padding-top: 0

                .link-container
                    margin-bottom: 20px
                    text-align: left

                    .link
                        color: $white
                        font-family: medium
                        font-size: 12px
                        text-shadow: 0 0 2px rgba(0,0,0,0.4)

                .button-container
                    .button
                        display: inline-block
                        float: right
                        font-size: 14px
                        line-height: 14px
                        width: auto

                        &:hover, &:focus, &:active
                            background: $brand-primary !important
                            color: $site-depot-green !important

