.login-page-container
    .content-box
        width: 100%
        max-width: 900px

        margin: 0 auto 100px

        padding: 50px

        border: 1px solid $brand-primary
        border-radius: 4px

        .login-form
            width: 100%
            max-width: 420px

            margin: 0 auto

            .form-title
                font-size: 18px
                line-height: 16px
                font-family: semi-bold

                margin-bottom: 30px
                padding-left: 15px

                svg
                    height: 20px
                    width: auto
                    margin-right: 10px

            .form-group
                position: relative

                margin-top: 0
                padding: 0
                margin-bottom: 24px

                .form-control
                    border-radius: 4px
                    border: 0.5px solid $brand-primary

                    height: 50px

                    font-size: 14px
                    line-height: 24px
                    font-family: medium
                    color: $text-dark

                    &::placeholder
                        opacity: 0
                        visibility: hidden

                    &:-ms-input-placeholder
                        opacity: 0
                        visibility: hidden

                    &::-ms-input-placeholder
                        opacity: 0
                        visibility: hidden

                label
                    color: $gray
                    font-size: 12px
                    font-weight: normal
                    line-height: 24px
                    font-family: medium

                &.floating-label
                    label
                        top: 13px
                        left: 15px
                        position: absolute
                        transition: 0.3s all

                    &.is-focused,
                    &:not(.is-empty)
                        label
                            top: 3px
                            left: 15px
                            font-size: 10px

                &.password-visibility
                    .form-control
                        padding-right: 65px

                    .toggle-password-visibility
                        position: absolute
                        right: 0
                        top: 0

                        cursor: pointer

                        outline: 0
                        user-select: none

                        height: 50px
                        width: 65px

                        display: flex

                        align-items: center
                        justify-content: center

                        svg
                            display: none

                            width: 40px
                            height: auto

                            &:first-child
                                display: block

                        &.visible
                            svg
                                &:first-child
                                    display: none

                                &:last-child
                                    display: block

            .button-container
                margin-bottom: 28px

                .button
                    margin: 0
                    border: 0
                    width: 100%

                    border-radius: 4px
                    background: $brand-primary

                    padding-top: 16px
                    padding-bottom: 12px

                    color: $white

                    font-size: 18px
                    line-height: 22px
                    font-family: semi-bold

                    text-transform: uppercase

                    &:hover, &:focus, &:active
                        border: 0 !important
                        background: $brand-secondary !important
                        box-shadow: 0 1px 5px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(22,27,89,0.4)

                .button--loader
                    position: relative

                    .loader
                        display: none

                        position: absolute

                        top: 0
                        left: 0

                        width: 100%
                        height: 100%

                        svg
                            width: auto
                            height: 40px

                            position: relative
                            top: -2px

                    &.is-Requesting
                        cursor: not-allowed
                        pointer-events: none

                        span
                            opacity: 0
                            visibility: hidden

                        .loader
                            display: flex
                            opacity: 1
                            visibility: visible

                            svg
                                rect, g
                                    fill: $white !important

            .link-container
                text-align: center
                .link
                    color: $text-dark
                    font-size: 14px
                    line-height: 24px
                    font-family: semi-bold

                    border-bottom: 1px solid transparent

                    transition: 0.3s all

                    &:hover, &:focus, &:active
                        border-bottom: 1px solid $text-dark

            .alert-info
                border-radius: 4px
                margin-bottom: 20px

                color: $white
                font-size: 12px
                line-height: 20px
                font-family: semi-bold

                background-color: $brand-secondary
                box-shadow: 0px 1px 5px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba($brand-secondary,.4)

            .alert-danger
                border-radius: 4px
                margin-bottom: 20px

                color: $white
                font-size: 12px
                line-height: 20px
                font-family: semi-bold

                background-color: $red
                box-shadow: 0px 1px 5px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4)

                .close
                    margin-bottom: 0
                    .material-icons
                        font-size: 20px

                    &:hover, &:focus, &:active
                        border: 0 !important
                        background-color: transparent !important

                ul
                    list-style: disc
                    li
                        padding-left: 0px
                        margin-bottom: 3px

                        font-size: 12px
                        line-height: 20px
                        font-family: semi-bold

                        &:last-child
                            margin-bottom: 0
