.user-profile-page-container
    .content-box
        background: $white
        border: 1px solid $brand-primary

        width: 900px
        max-width: 900px

        padding-left: 15px
        padding-right: 15px

        .row
            margin-left: 0
            margin-right: 0

        &.password
            .title
                &:after
                    display: none

        &.preview
            input
                border: 1px solid transparent !important

        .title
            width: 100%
            display: inline-flex

            align-items: center

            font-size: 14px

            img
                margin-right: 10px

        .form-inputs
            // Remove default boostrap paddings & margins
            [class*="col-"]
                padding: 0

            .label
                text-align: left
                text-transform: none

                margin-right: 20px

                width: 27%

            .select-field
                margin-right: 5px

            label
                font-size: 12px
                font-family: semi-bold

                color: $brand-primary

                white-space: normal
                word-break: break-all

            input
                border: 1px solid $brand-primary

                &:read-only
                    border: 1px solid transparent !important

        .placeholder
            margin-right: 38px

        .preview-button-container
            position: relative
            .success-container
                position: absolute

                top: 0
                right: 200px

        .password-title
            margin-right: 22px

        .button
            padding-top: 5px
            padding-bottom: 5px

            margin: 0 !important
            margin-right: 5px !important

        .password-visibility
            position: relative

            input
                padding-right: 40px

            .toggle-password-visibility
                position: absolute
                right: 0
                top: 0

                cursor: pointer

                outline: 0
                user-select: none

                height: 25px
                width: 40px

                display: flex

                align-items: center
                justify-content: center

                svg
                    display: none

                    width: 18px
                    height: auto

                    &:first-child
                        display: block

                &.visible
                    svg
                        &:first-child
                            display: none

                        &:last-child
                            display: block

        .password-strength-container
            align-self: center
            position: relative
            height: 9px
            width: 100%

            border-radius: 3px
            border: 1px solid #707070

            padding: 1px

            .result
                height: 100%
                margin-bottom: 3px

                border-radius: 3px

                display: block

    .password-prerequisites-container
        .password-prerequisites
            .title
                margin-bottom: 10px

                width: 100%
                display: inline-flex

                align-items: center

                img
                    width: 27px
                    height: auto

                    margin-right: 7px

                span
                    font-size: 12px
                    line-height: 16px
                    font-family: medium

            .prerequisites-list
                list-style-type: disc
                padding-left: 25px

                li
                    color: $red
                    font-size: 11px
                    line-height: 16px
                    font-family: regular

                    &.filled
                        color: $successGreen

